/* CUSTOM PROPERTIES */ 
:root {

    /* TEXT COLORS */
    --ms-text-white: white;
    --ms-text-black: #2c3e50; 

    /* BG COLORS */
    --ms-bg-header: white;
    --ms-bg-green: #1abc9c;
    --ms-bg-footer-top: #3a546d;
    --ms-bg-footer-bottom: #2c3e50;
    
}

/* RESET */
img {

    max-width: 100%;

}

a {

    text-decoration: none;
    color: inherit;

}

/* COMMON */
.ms-text-white {

    color: var(--ms-text-white);

}

.ms-text-black {

    color: var(--ms-text-black);

}

.ms-bg-green {

    background-color: var(--ms-bg-green);

}

.ms-btn {

    border-radius: 5px;
    padding: .5rem 1rem;

}

.ms-btn-brdr-white {

    border: 1px solid var(--ms-text-white);

}

.ms-btn-bg-green {

    background-color: var(--ms-bg-green);

}

/* HEADER */

/* JUMBOBOX */
#ms-jumbo img {

    width: 300px;

}

/* PORTFOLIO */
#ms-portfolio img {

    border-radius: 15px;

}

/* ABOUT */

/* CONTACT-ME */
#ms-contact-me .btn {

    background-color: var(--ms-bg-green);

}

/* FOOTER */

#ms-footer .ms-footer-top {

    background-color: var(--ms-bg-footer-top);

}

#ms-footer .ms-footer-bottom {

    background-color: var(--ms-bg-footer-bottom);

}

#ms-footer .ms-footer-top .ms-social {

    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid white;
    line-height: 60px;
    margin: 0  .2rem;

}

#ms-footer .ms-green-link {

    color: var(--ms-bg-green);

}