/* CUSTOM PROPERTIES */ 
:root {

    /* TEXT COLORS */
    --ms-text-white: white;
    --ms-text-black: #2c3e50; 

    /* BG COLORS */
    --ms-bg-header: white;
    --ms-bg-green: #1abc9c;
    --ms-bg-footer-top: #3a546d;
    --ms-bg-footer-bottom: #2c3e50;
    
}

/* RESET */
img {

    max-width: 100%;

}

/* COMMON */
.ms-text-white {

    color: var(--ms-text-white);

}

.ms-text-black {

    color: var(--ms-text-black);

}

.ms-bg-green {

    background-color: var(--ms-bg-green);

}

/* HEADER */

/* JUMBOBOX */
#ms-jumbo img {

    width: 300px;

}

/* PORTFOLIO */
#ms-portfolio img {

    border-radius: 15px;

}

/* ABOUT */

/* CONTACT-ME */

/* FOOTER */